<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="fragments/header::head"></head>
	<nav th:replace="fragments/navbar::navbar"></nav>
	<div th:replace="fragments/banner::banner"></div>

	<body>
		<div id="intro" class="section scrollspy">
			<div class="container">
				<!--   Icon Section   -->
				<div class="row">
					<div class="col s12">
						<h3 class="center header text_h2">
							<span class="span_h2">Site</span> <span class="span_h2">Map</span>
						</h3>
					</div>

					<div class="col s12 m4 l3">
						<div class="center promo promo-example">
							<i class="mdi-social-school"></i>
							<h5 class="promo-caption">Routes</h5>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
					<div class="col s12 m4 l3">
						<div class="center promo promo-example">
							<i class="mdi-social-group"></i>
							<h5 class="promo-caption">Stations</h5>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
					<div class="col s12 m4 l3">
						<div class="center promo promo-example">
							<i class="mdi-editor-insert-drive-file"></i>
							<h5 class="promo-caption">Outlets</h5>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
					<div class="col s12 m4 l3">
						<div class="center promo promo-example">
							<i class="mdi-editor-insert-drive-file"></i>
							<h5 class="promo-caption">Offers</h5>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="work" class="section scrollspy blue-grey lighten-5">
			<div class="container">
				<h2 class="header text_b">Others</h2>
				<div class="row">
					<div class="col s12 m4 l4">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src=""/>
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4"></span>
								<p><a href="">Project link</a></p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4"><i
										class="mdi-navigation-close right"></i></span>
								<p>A GitBook made to teach people the basics of Python.</p>
							</div>
						</div>
					</div>

					<div class="col s12 m4 l4">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src=""/>
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4"></span>
								<p><a href="">Doc link</a></p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4"><i
										class="mdi-navigation-close right"></i></span>
								<p></p>
							</div>
						</div>
					</div>

					<div class="col s12 m4 l4">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src=""/>
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4"></span>
								<p><a href="">Doc link</a></p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4"><i
										class="mdi-navigation-close right"></i></span>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer th:replace="fragments/footer :: footer">

		</footer>

	</body>
</html>