<div th:fragment="tabs">

	<button class="tablink" onclick="activateTab('Tickets', this, '#607d8b')" id="defaultOpen">Tickets</button>
	<button class="tablink" onclick="activateTab('Payment', this, '#607d8b')">Payment</button>
	<button class="tablink" onclick="activateTab('Notifications', this, '#607d8b')">Notifications</button>
	<button class="tablink" onclick="activateTab('Account', this, '#607d8b')">Account</button>

	<div id="Tickets" class="tabcontent">
		<h3>Tickets</h3>
	</div>

	<div id="Payment" class="tabcontent">
		<h3>Payments</h3>
	</div>

	<div id="Notifications" class="tabcontent">
		<h3>Notifications</h3>
	</div>

	<div id="Account" class="tabcontent">
		<h3>Account</h3>
	</div>
</div>

