<div th:fragment="banner">
    <div id="index-banner" class="blue-grey parallax-container valign-wrapper"
         style="background-image: url(img/train1.jpg); background-repeat: no-repeat; background-position: center; background-size: cover;">
    </div>


    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h1 class="header col s12 text_h cd-headline letters type">
                    <span></span>
                    <span class="cd-words-wrapper waiting">
						<b class="is-visible">Safest,</b>
						<b>Fastest,</b>
						<b>and Reliable</b>
					</span>
                </h1>
            </div>
        </div>
    </div>

    <div id="particles" class="parallax"></div>
</div>

//Today I have created an auto binding between my POJOs and the Thymeleaf.