<div th:fragment="main-footer" class="container">
	<div class="row">

		<div class="col l6 s12">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<i class="mdi-action-account-circle prefix white-text"></i>
					</div>
					<div class="input-field col s6">
						<i class="mdi-communication-email prefix white-text"></i>
					</div>
					<div class="input-field col s12">
						<i class="mdi-editor-mode-edit prefix white-text"></i>
					</div>
					<div class="col offset-s7 s5">
					</div>
				</div>
			</form>
		</div>
		<div class="col l3 s12">
			<h5 class="white-text">transnova.ng</h5>
			<ul>
				<li><a class="white-text" href="http://www.transnova.ng/">Home</a></li>
				<li><a class="white-text" href="https://www.transnovaus.github.io/">Blog</a></li>
			</ul>
		</div>
		<div class="col l3 s12">
			<h5 class="white-text">Social</h5>
			<ul>
				<li>
					<a class="white-text" href="https://github.com/transnova">
						<i class="small fa fa-fw fa-github white-text"></i> @transnova
					</a>
				</li>
				<li>
					<a class="white-text" href="https://www.linkedin.com/in/transnova">
						<i class="small fa fa-fw fa-linkedin white-text"></i> @transnova
					</a>
				</li>
				<li>
					<a class="white-text" href="irc://irc.freenode.net[:6665]/[#transnova]">
						<i class="small fa fa-fw fa-wechat white-text"></i> #transnova
					</a>
				</li>
				<li>
					<a class="white-text" href="http://stackoverflow.com/users/3646475/transnova">
						<i class="small fa fa-fw fa-stack-overflow white-text"></i> @transnova
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>