<div th:fragment="navbar"  class="navbar-fixed">
	<nav class="z-depth-2">
		<div class="nav-wrapper container">
			<a id="logo-container" href="/" class="brand-logo"><img src="" alt ="transnova" /></a>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

			<!-- Normal top navbar items-->
			<ul class="right hide-on-med-and-down">
				<li><a href="schedules">Schedules</a></li>
				<li><a href="about">About</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="signup">Register/Login</a></li>
			</ul>

			<!-- Mobile side bar items-->
			<ul id="nav-mobile" class="left side-nav">
				<li><a href="schedules">Schedules</a></li>
				<li><a href="about">About</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="signup">Register/Login</a></li>
			</ul>
		</div>
	</nav>
</div>